body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:'Open Sans',sans-serif;
    height: auto;
    direction: rtl;
}


.wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	height: auto;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.trader{
	width:100%;
    height: auto;
    min-height: 655px;
	position:absolute;
	background:#fff;
    
}


.trader h1 {
    color: #fff;
    background-color: #052763;
    border-color: #46b8da;
    width: 100%;
    padding: 10px 12px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
}

.trader .content 
{
    margin: 40px auto;
    border: 1px solid #035bc7;
    height: 280px;
    background-color:#c1c1c114;
}

.trader .content .icon
{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 25px;
    display: block;
    cursor: pointer
}
.trader .content label
{
    width: 200px;
    height:50px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    display: block;
    font-size: 30px
}

.trader .comtent .group 
{
    display: inline-block;
    
    
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin:auto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/**{;outline: .5px solid red;}*/

.form-control
{
    height: auto;
    width: auto
}


.group #yes,
.group #no
{
    display: inline-block;
    float: left;
    width: 48.5%;
    margin:10px 2px;
    color: white;
    font-size: 22px;
}

.group #yes
{
    background-color: #007bff;
}

.group #no
{
    background-color:#dc3545;
}



.searchbar {
    overflow: hidden;
    background-color: #e9e9e9;
    margin: 20px auto;
}

.searchbar input[type=text] {
    float: right;
    padding: 5px;
    border: none;
    margin:10px auto;
    margin-right: 30px;
    font-size: 20px;
    border-radius:5px;
    width: 70%;
}
.searchbar .fa
{
    margin-right: 30px;
    margin: 12px auto;
    color: #052763
}

.searchbar button
{
    background-color: inherit;
    border: none;
   
    margin: 3px 15px;
}

.content a:hover
{
    cursor: pointer;
    text-decoration: none
}